*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
/dist
/build
/eggs
/parts
/sdist
/bin
/var
/lib
/lib64
develop-eggs
.installed.cfg
__pycache__
node_modules

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.cache

# Translations
*.mo

# Editor
*.sw[po]

# Sphinx
docs/_build

# Environment
.env
