@import 'commons/color'
@import 'commons/size'

.pastry-top
  width: $container-width
  margin: auto
  margin-top: $primary-text-size

  h1.title
    color: $primary-text-color
    font-size: $primary-text-size
    font-family: sans
    font-weight: bold
    text-align: center
    margin-bottom: ($primary-text-size / 2)
